<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="categorias"  class=""id="categorias" >
            <div class="" >
            
          
          <strong class="d-none d-md-block h6 my-2"></strong>
          <hr class="d-none d-md-block my-2">
          <div class="" id="tocContents" style="">
              <div  class="logo">
                <i class='bx bxs-heart'></i>

                 <div class="logo_name">LOGO</div>
                </div>
              
              <div class="src">

    <!--icon src--><i class='bx bx-search-alt-2' ></i>

                  <input type="text" placeholder="search" class="searcher">
            </div>
            <nav id="TableOfContents" class="lateral1">
              
                <ul class="item"   ><span></span>
                 
                                <a  class="contactos"  id="contactos2"  > 

                                   <i class='bx bxs-contact' ></i>
                                   <span class="link_name">  contactos</span>
                                </a>
                                    <div class="sub-menu">
                                        
                                            <li class="menu-item">
                                              <a href="#">pollo</a>
                                            </li>
                                            <li class="menu-item">
                                              <a href="#">pollo</a>
                                            </li>
                                            <li class="menu-item">
                                              <a href="#">pollo</a>
                                            </li>


                                    </div>
                              

                            </ul>
              <ul class="item"   ><span></span>
              
                 <a  class="contactos"  id="contactos2"  > 

                                  <i class='bx bx-group'></i>
                                   <span class="link_name">  Cliestes</span>
                                </a>
                    <div class="sub-menu">
                        
                            <li class="menu-item">
                              <a href="#">pollo</a>
                            </li>
                            <li class="menu-item">
                              <a href="#">pollo</a>
                            </li>
                            <li class="menu-item">
                              <a href="#">pollo</a>
                            </li>


                    </div>
               

            </ul>


        <ul class="item"   ><span></span>
                <a  class="contactos"  id="contactos2"  > 

                                 <i class='bx bxs-shopping-bags'></i>
                                   <span class="link_name">  Productos</span>
                                </a>
                    <div class="sub-menu">
                        
                            <li class="menu-item">
                              <a href="product">lista productos</a>
                            </li>
                            <li class="menu-item">
                              <a href="#">pollo</a>
                            </li>
                            <li class="menu-item">
                              <a href="#">pollo</a>
                            </li>


                    </div>
               

            </ul>
            <ul class="item"   ><span></span>
                <a  class="contactos"  id="contactos2"  > 


                  <i class='bx bxs-pie-chart-alt-2'></i>
                  <span class="link_name"> stock</span>
                </a>
                    <div class="sub-menu">
                        
                            <li class="menu-item">
                              <a href="#">pollo</a>
                            </li>
                            <li class="menu-item">
                              <a href="#">pollo</a>
                            </li>
                            <li class="menu-item">
                              <a href="#">pollo</a>
                            </li>


                    </div>
               

            </ul>

            
        </nav>
                 
                <div class="cont-user"  id="">
                <a class="fa-light fa-user-secret" id="begin-secion" ><img src="img/icono-secion.svg" alt=""></a>
                <a class="fa-light fa-user-secret" id="close-secion" href="/logout"><img src="img/salida_36.png" alt=""></a>
                <span  style="background: red;" class="tooltip">Twitter</span>
              </div>
              
          </div>
        </div>
         

 </div>
  <script src="/js/myscript.js" ></script>