<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark"  style="position: fixed;  z-index: 9999;" >
          <div class="container-fluid">
            
              <li><img src="img/logo.gif" alt="automatico" id="logo"></li>
            
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav bg-dark">
                <a class="nav-link" href="/">Home</a>
              
                 <a class="nav-link active" aria-current="page" href="contact">Contacto</a>
                   <a class="nav-link " href="product">Productos</a></a>
                <a class="nav-link disabled">Disabled</a>
                 <!--buscador -->
                <row>
                  <div class="container-fluid ">
                    <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button  class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </row>
                <div class="row">
                <div class="col-12"  id="cont-user">
                <i class="fa-light fa-user-secret" id="begin-secion" ><img src="img/icono-secion.svg" alt=""></i>
                <i class="fa-light fa-user-secret" id="close-secion" ><img src="img/salida_36.png" alt=""></i>
                <span  style="background: red;" class="tooltip">Twitter</span>
              </div>
              </div>
              </div>              
            </div>  
           
            
                 
        </div> 
       
      </nav>
     
    <h1>mapas</h1>
     {{> tasks/maps}}
       <div class="slider" id="slider-contact"  >

 
 </div>
</body>
</html>